.header {
	background-image: url("images/mobil.png");
	background-repeat: no-repeat;
	background-size:100%
}

.navbar {
	background-color:rgb(0,194,227);
	width:100%;
	padding:0px;
}

.headp {
	font-size:63px;
	max-width:350px;
	color:white;
	line-height:65px;	
}

.bodyp {
	font-size:24px;
	max-width:250px;
	color:white;
	line-height:24px;
}

.navbar a{
	font-size:16px;
	color:white;
	padding: 5px;
}

.dceno p {
	line-height:20px;
	font-size:15px;
}

.namt p {
	line-height:28px;
	font-size:15px;
}

h2 {
	margin-left:15px;
	padding-bottom:27px;
	color:rgb(0,194,227);
}

.bmap {
    position: relative;
    padding-bottom: 500px;
    height: 0;
    overflow: hidden;
}

.bmap iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}

.gal1,
.gal2,
.gal3,
.GalImg
{
	width:100%;
	padding:5px;
}

.hideme{
	  display:none;
 }
 
.botbox {
	position:relative;
	bottom:-45px;
	background-color:rgb(0,194,227);
	margin-left:15px;
	padding: 5px;
	padding-top:16px;
	padding-bottom:16px;
}
 
  .middlebox h1 {
	 margin-top:200px; 
 }
 
 .middlebox i {
	 font-size:30px;
	 height:450px;
	 color:white;	 
 }
 
 .header {
	 margin-bottom:55px;
	 width:100%;
	 
 }
 
 .phones img {
	 
	 width:37px;
	 height:37px;
	 color:white;
 }
 .phones {
	 font-size:24px;
	 text-align: center;
	 margin: auto;
 }

@media (min-width: 768px) {
  .navbar .container{
	  min-width:200px;
	  max-width:560px;
	  padding-right: 15px; 
     padding-left: 15px; 
     margin-right: 0; 
     margin-left: 0;
  }
  
  .container {
	  min-width:1200px;
  }
  
  .hideme{
	  display:block;
  }
  
   .middlebox i {
	 font-size:48px; 
 }
  
  .header {
	background-image: url("images/desktop.png");
	background-size: 100% 100%;
	min-width:1200px;
	max-height:700px;
}
  
  .fa {
	  max-height: 100px;
  }
   .middlebox h1 {
	 margin-top:20px; 
	}
	
	.middlebox {
		padding-bottom:180px;
	}
  .botbox {
	bottom:-45px;
}
  
  .rounded-bottom a {
	  display:initial;
  }
  
  .botbox {
	   background-color:rgb(0,194,227);
	   text-align:center;
	   max-height: 200px;
	   padding:10px;
  }
  .scrow .row{
	  margin-left:70px;
  }
  .GalImg
	{
		height:339px;
	}
	.gal1 {
		width:367px;
	}
	.gal2 {
		width:475px;
	}
	.gal3 {
		width:582px;
	}
	
  h2 {
	  margin-left:30px;
  }
  #Cenovnik h2{
	  margin-left:15px;
  }
}
