#navbar {
	width : 100%;
	background-color : rgba(0,0,0,0.5);
	overflow:hidden;
	top:0px;
}

#navbar a{
	color : white;
	float : left;
	padding : 10px;
	text-decoration : none;
}

#navbar a:hover{
	background-color : green;
}

#navbar a:active{
	background-color : rgba(214,167,122,0.8);
}

.sticky {
	position : sticky;
	Top: 180px;
}

.vslika {
	width: 100%;
	text-align: center;
}

.Image {
	float : left;
	width : 53vw;
	height : 30vw;
	opacity : 0.5;
}

.TImage {
	float : left;
	overflow : hidden;
	width : 40vw;
	height : 30vw;
	opacity : 0.5;
}

.Image:hover {
	opacity: 1.0;
}

input[type=text]:focus {
  border: none;
  border-bottom: 2px solid red;
}

body {
	background-color: #00ffff;
	background-image: url("images/rainbow.png"), url("images/grass.png");
	background-position: top, bottom;
	background-size: contain;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-attachment: fixed,scroll;
	
}

table {
	background-color : rgb(0,154,130);
    counter-reset: rowNumber;
	border-radius: 25px;
}

table tr:not(:first-child) {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
	min-width: 1em;
    margin-right: 0.5em;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding:5px;
	text-align: left;
}

td {
	
}

tr:hover {
	background-color: #f5FFFF
}